{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<section class="main" id="main">
    <div class="video-background">
    <video autoplay muted loop id="myVideo">
        <source src="https://static.videezy.com/system/resources/previews/000/045/520/original/200323-AbLightLeakBlue02.mp4" type="video/mp4">
    </video>
</div>
<div class="content">
    <!-- Контент страницы -->
</div>
<div class="heading">
 <a
         href="https://github.com/Sofia1170/portfolio"><img width="64" height="64" class="git" src="https://img.icons8.com/nolan/64/github.png" alt="github"/>
 </a>
<div class="navigation">
 <a class="discount" href="#about">О нас</a>
 <a class="discount" href="/projects">Проекты</a>
 <a class="discount" href="/contacts">Контакты</a>
</div>
 </div>


 <div class="we">
     <div class="text">
     <h1 class="low">Привет! Мы команда веб-разработчиков</h1>

    <h2 class="gow">MiliCats</h2>

     <p class="low">Мы участвуем в Хакатоне "TASKILLS" в треке "Веб-разработка"
         <br>
         и хотим представить наш сайт-портфолио с информацией о нас.</p>
     </div>

     </div>
</section>







